{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
 <div class="col-sm-10">
     <h3 class="text-white my-5">Dashboard/ Addpost</h3>
 <form action="{% url 'edit' ob.id  %}" method="post" class="form-group">
  {% csrf_token %}
  <table>
   {% for fm in form %}
      <div class="form-group">
          <tr height='5px'>
              <td>
        {{fm.label_tag}} {{fm}} {{ fm.errors | striptags }}<br />
        </td>
          </tr>
      </div>
      {% endfor %}
      <tr>
          <td>
  <input type="submit" value="Update" class="btn btn-success" />
  <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
</td>
  </tr>
</form>
</table>
 </div>
{% endblock %}